target/*
*/pyapi/*
*.coverage
*coverage/*
*/coverage/*
*__pycache__*
*.mypy_cache*
*.egg-info*
*struqture/coveragehtml/*
*struqture-py/coveragehtml/*
*/docs/_build*
*/docs/generated*
*.DS_Store
*.ipynb_checkpoints*
*.json
*.yaml
.vscode/*
*.profraw
*.lcov
*.svg
*/book/*
*_build*
*generated*
